.avatar {
  width: 200px;
  height: 100px;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.status-online {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: green;
}

.status-offline {
  color: red;
}
